{% assign view = 2 %}

{% if _leaderboard == null %}
  {% render "no_data", trmnl: trmnl, icon: icon %}
{% else %}
{% assign top = _leaderboard.models[0] %}

<div class="layout layout--stretch gap--space-between">
  <div class="flex flex--col" data-overflow="true">

    <div class="item w--full">
      <div class="meta"></div>
      <div class="content w--full">
        <div class="grid grid--cols-8 gap--small w--full">
          <div class="col--span-6 lg:col--span-5"><span class="label">Model</span></div>
          {% unless top.elo %}
          <div class="col--span-1 md:portrait:hidden text--center"><span class="label">token/s</span></div>
          <div class="col--span-1 md:hidden lg:block text--center"><span class="label">Coding</span></div>
          {% endunless %}
          <div class="{% if top.elo %}col--span-2{% else %}col--span-1{% endif %} md:portrait:col--span-2 text--center"><span class="label">{% if top.elo %}ELO{% else %}Intel.{% endif %}</span></div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    {% for model in _leaderboard.models %}
    {% if forloop.first %}{% assign _emphasis = "item--emphasis-2" %}{% else %}{% assign _emphasis = "item--emphasis-1" %}{% endif %}
    <div class="item {{ _emphasis }} w--full">
      <div class="meta"><span class="index">{{ model.rank }}</span></div>
      <div class="content w--full">
        <div class="grid grid--cols-8 gap--small w--full">
          <div class="col--span-6 lg:col--span-5">
            <span class="value value--small" data-clamp="2">{{ model.name }}</span>
          </div>
          {% unless model.elo %}
          <div class="col--span-1 md:portrait:hidden text--center">
            <span class="value value--small value--tnums">{{ model.speed_tps | default: '—' }}</span>
          </div>
          <div class="col--span-1 md:hidden lg:block text--center">
            <span class="value value--small value--tnums">{{ model.coding | default: '—' }}</span>
          </div>
          {% endunless %}
          <div class="{% if model.elo %}col--span-2{% else %}col--span-1{% endif %} md:portrait:col--span-2 text--center">
            <span class="value value--small value--tnums">{% if model.elo %}{{ model.elo }}{% else %}{{ model.intelligence }}{% endif %}</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% render "title_bar", trmnl: trmnl, data: data, icon: icon, view:view, _view_label:_view_label %}
{% endif %}
