{% liquid
  assign _selected = trmnl.plugin_settings.custom_fields_values.view
  if _selected == null or _selected.size == 0
    assign _pool_str = ""
    for _pair in data.labels
      if forloop.first
        assign _pool_str = _pair[0]
      else
        assign _pool_str = _pool_str | append: "," | append: _pair[0]
      endif
    endfor
    assign _pool = _pool_str | split: ","
  else
    assign _pool = _selected
  endif
  assign _ns = 'now' | date: "%N" | plus: 0
  assign _idx = _ns | modulo: _pool.size
  assign _view = _pool[_idx]
  assign _view_label = data.labels[_view]
  assign _leaderboard = data[_view]
%}
{% capture icon %}
<svg class="image image-stroke w--8 h--8" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250">
  <defs>
    <style>
      .cls-1 {
        fill: #444444;
      }

      .cls-1, .cls-2, .cls-3, .cls-4 {
        stroke-width: 0px;
      }

      .cls-1, .cls-2, .cls-4 {
        fill-rule: evenodd;
      }

      .cls-2 {
        fill: #000000;
      }

      .cls-3 {
        fill: #fff;
      }

      .cls-4 {
        fill: #888888;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <g id="_Group_favicon" data-name="&amp;lt;Group&amp;gt; favicon">
      <path class="cls-2" d="M192.75,210.02h42.32l-55.89-97.25-21.29,36.87c11.62,20.13,23.24,40.25,34.86,60.38"/>
      <polygon class="cls-4" points="103.82 55.97 124.98 19.33 176.61 108.76 167.29 124.68 155.3 145.14 143.32 124.4 103.82 55.97"/>
      <path class="cls-2" d="M122.41,97.08l-21.13-36.71L14.93,209.94h42.32c78.9-136.66,14.79-25.62,65.16-112.86"/>
      <polygon class="cls-1" points="176.52 190.68 155.36 154.03 123.04 210.02 165.35 210.02 176.52 190.68"/>
    </g>
  </g>
</svg>
{% endcapture %}

{% template no_data %}
<div class="layout layout--col layout--center gap--space-between">
  <div class="item">
    <div class="content">
      <span class="value">No data yet</span>
      <span class="label">{{ _view_label }} leaderboard is loading</span>
    </div>
  </div>
</div>
{% render "title_bar", trmnl: trmnl, icon: icon %}
{% endtemplate %}

{% template title_bar %}
<div class="title_bar">
  {{icon}}

  <span class="title text-stroke md:portrait:hidden lg:portrait:block">{{ trmnl.plugin_settings.instance_name | default: "AI Leaderboard" }}</span>
  <span class="title text-stroke hidden md:portrait:block lg:portrait:block">{{ _view_label }}</span>

  <span class="instance  text-stroke md:portrait:hidden">{% if _view_label %}{{ _view_label }}{% endif %}</span>
</div>
{% endtemplate %}